.App {
  width: 100vw;
  height: 97vh;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom:1000px;
  padding: 0px;
}
.col-md-12twitch{
  width: 1vw;
  height: 62.5%;
  z-index: 5;
  position: absolute;
}
.col-md-12{
  width: 100vw;
  height: 104%;
  /* bottom:6000px */
  position: absolute;
  /* bottom: 68px;
  left: 50px; */
  /* flex: 1; */
}
/* .emdeb-responsive{
  width: 100vw;
  height: 100%;
} */
.cameras {
  /* height: 200px; */
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* position: absolute; */
  z-index: 30;
  margin-bottom: 30px;
}

.fire{
  position: absolute;
  height: 70%;
  width: 100%;
  left: 1000px;
  z-index: 20;
}

.zindex{
  z-index: 100;
}

.fireicon{
  height: 75px;
  width: 75px;
}

.Cameraicon{
  height: 577.99px;
  width: 507.51px;
  z-index: 20;
}

.Cameraiconbox{
  height: 90vh;
  width: 50vw;
  left: 700px;
  position: absolute;
  z-index: 20;
}

.onecam{
  width: 254px;
  height: 142px;
  background-color: #ECECEC;
  margin-left: 40px;
  border-radius: 16px;
  /* border-color: white; */
}

.box{
  width: 100vw;
  display: flex;
  justify-content:flex-end;
  position:absolute;
}

.cambox{
  height: 70%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center ;
}

.round{
  width: 20px;
  height: 20px;
  background-color: #FFE3E3;
  border-radius: 100%;
  border: 1px solid #FF5A5A;
}

.txttwo{
  font-size: 18px;

  width: 100%;
}

.info{
  /* width: 364px; */
  /* height: 633px; */
  background-color: white;
  margin-right: 16px;
  /* margin-top: 70px; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-bottom: 270px
}

.infofirsttxt{
  font-weight: 500;
font-size: 18px;
}

.uroven{
  width: 100%;
  height: 50px;
  margin-top: 30px;

  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconfire{
  width: 17px;
  height: 23px;
  /* background-color: #ECECEC; */
  margin-right: 20px;
}

.img{
  width: 166px;
  height: 152px;
  /* background-color:#ECECEC ; */
}

.video{
  width: 610px;
  height: 343px;
  left: 45px;
  top: 55px;

  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-left: 44px;
  margin-top: 55px;
}